<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pogoda Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</head>
<body class="text-center">

<h2><br>POGODA <img th:src="@{/images/sun_clouds.png}" alt="" width="72" height="72"> ONLINE</h2>

<h4>Edycja</h4>
<br>

<table th:if="${log != null}" class="table table-hover table-sm" style="font-size: 10pt">
    <thead>
    <tr>
        <td th:if="${log != null}" th:text="Data"></td>
        <td th:if="${log != null}" th:text="Miasto"></td>
        <td th:if="${log != null}" th:text="Temperatura"></td>
        <td th:if="${log != null}"></td>


    </tr>
    </thead>
    <tr>
        <td th:text="${log.getQueryTime()}"></td>
        <td th:text="${log.getCityName()}"></td>
        <td th:text="${log.getCityTemp()}"></td>
        <td></td>
    </tr>
    <tr>
        <!-- <td><input></td>
         <td><input></td>
         <td><input></td>
         <td>       </td>-->

        <form method="post" th:action="@{/edit/{id}(id=${log.id})}" th:object="${weatherForm}">
            <!--   <label >Time</label>
               <input th:field="*{queryTime}" name="queryTime"  th:value="${log.getQueryTime()}">
           --> <label>City</label>
            <input th:field="*{cityName}" name="cityName" th:value="${log.getCityName()}">
            <label>Temperatura</label>
            <input th:field="*{cityTemp}" name="cityTemp" th:value="${log.getCityTemp()}">

            <button class="btn btn-outline-danger" type="submit">Zapisz</button>
        </form>
    </tr>
</table>
<br>
<a th:href="@{/history}">POWRÓT</a>
</body>
</html>