<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pogoda Online</title>


    <!--usus-->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <!-- do usussu-->

    <!--Load the AJAX API-->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "http://api.openweathermap.org/data/2.5/forecast?q=Malbork&units=metric&appid=8a437d96e3908633d36fb36b11408a23",
                dataType: "json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            // var data = new google.visualization.DataTable(jsonData)

            var data = new google.visualization.DataTable(jsonData);
            data.addColumn('string', 'Data');
            data.addColumn('number', 'Temp');
            data.addRows([
                ['11.02', 2],
                ['12.02', 0],
                ['13.02', -3],
                ['14.02', 1],
                ['15.02', 5]
            ]);
            /* for (var i = 0; i < jsonData.length; i++) {
                 data.addRow([jsonData[i].dt_txt, jsonData[i].temp]);
             }*/

            var options = {
                title: 'Prognoza na  5 dni',
                curveType: 'function',
                legend: {position: 'bottom'}
            };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options, {width: 400, height: 240});
        }

    </script>
</head>
<body class="text-center">

<div class="container">
    <div class="row">
        <div class="col-lg">

        </div>
        <div class="col">
            <h2><br>POGODA
                <img th:src="@{/images/sun_clouds.png}" alt="" width="72" height="72"> ONLINE</h2>
            <h4 th:if="${error!=null || success!=null}"
                th:class="${'alert '+(success!=null ? 'alert-success' : 'alert-danger')}"
                th:text="${success!=null ? success : error}">Poprawnie dodano wpis</h4>
            <form th:action="@{/}" method="post" class="form-signin">
                <input name="cityName" class="form-control" type="text" placeholder="Podaj miasto">
                <div class="checkbox mb-3">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" value="Sprawdź">Sprawdź pogodę</button>
            </form>
            <br>
            <h4 th:if="${weather != null}">Aktualna pogoda:</h4>
            <table th:if="${weather != null}" class="table table-hover">
                <thead>
                <tr>
                    <th colspan="5" th:if="${weather != null}" th:text="${weather.getName()}"></th>
                </tr>
                </thead>
                <tr>
                    <td colspan="3">Temperatura</td>
                    <td th:if="${weather != null}" th:text="${weather.getMain().getTemp()}+' ' +'°C'" colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="3">Ciśnienie</td>
                    <td th:if="${weather != null}" th:text="${weather.getMain().getPressure()}+' ' +'hPa'"
                        colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="3">Zachmurzenie</td>
                    <td th:text="${weather.getClouds().getAll()}+' ' +'%'" colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="3">Wiatr</td>
                    <td th:text="${weather.getWind().getSpeed()}+' ' +'m/s'" colspan="2"></td>
                </tr>

                <tr>
                    <td colspan="5">
                        <div id="chart_div"></div>
                    </td>

                </tr>


            </table>


            <br>


            <h4 th:if="${forecast != null}">Prognoza na 5 dni:</h4>

            <table th:if="${forecast != null}" class="table table-hover" style="width: 300px">
                <thead>
                <tr>
                    <td th:if="${forecast != null}" th:text="Data"></td>
                    <td th:if="${forecast != null}" th:text="Temperatura"></td>
                    <td th:if="${forecast != null}" th:text="Ciśnienie"></td>
                    <td th:if="${forecast != null}" th:text="Zachmurzenie"></td>
                    <td th:if="${forecast != null}" th:text="Wiatr"></td>
                </tr>
                </thead>
                <tr th:each="weatherAsDay : ${forecast.getWeatherDtoForecast()}">
                    <td th:text="${weatherAsDay.getDate()}" id="xValue"></td>
                    <td th:text="${weatherAsDay.getMain().getTemp()}" id="yValue"></td>
                    <td th:text="${weatherAsDay.getMain().getPressure()}"></td>
                    <td th:text="${weatherAsDay.getClouds().getAll()}"></td>
                    <td th:text="${weatherAsDay.getWind().getSpeed()}"></td>
                </tr>
            </table>

            <div class="mt-3">
                <a href="/logout">Wyloguj się</a></div>
            <p class="mt-3 mb-3 text-muted">Akademia Kodu<br>Java Bootcamp Online 8</p>

        </div>
        <div class="col-lg">

        </div>
    </div>
</div>

</body>
</html>